h1 {
    border: 5px solid black;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    width: 80%;
    max-width: 500px;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h3 {
    color: green;
    border: 3px dotted green;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    width: 50%;
}

.redParagraph {
    color:red;
}

.blueParagraph {
    color: blue;
}

#title {
    font-weight: bold;
}


div {
    height: 200px;
    width: 50%;
    border: 2px solid black;
}

.red {
    background-color: red;
    position: relative;
    left: 30px;
    margin: 20px 0px 20px 0px;
    box-sizing: border-box;
    transform: translate(10px, 10px);
    animation: float 2000ms infinite alternate-reverse;
}

.signup {
    background-color: rgb(128, 0, 128);
    height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    position: fixed;
    bottom: 0;
    transition: background-color 500ms;
}

.signup:hover {
    background-color: rgba(128, 0, 128, 0.5);
}

button {
    transition: all 1000ms;
    padding: 10px;
}

.contrastbutton:hover {
    background-color: black;
    color: white;
    padding: 20px;
}

.contrast:hover {
    color: white;
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(20px, 20px;)
    }
}

@media (max-width: 576px) {
    .nametitle {
        font-size: 25px;
    }
}

.nav__link {
    color: black;
}

.nav__link--active {
    font-weight: bold;
    color: blue;
}

/*boxmodel html*/
.box {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}